* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    /* colors */
    --primary-blue: #0d6efd;
    --ui-color: #f9f3ea;
    --card-color: #fffdf9;
}

body {
    background-color: var(--ui-color);
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 5px;
}

/* On hover, highlight the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #8f8f8f;
}


.leaflet-marker-icon {
    transition: all .2s ease;
}

.leaflet-marker-icon:hover {
    width: 45px !important;
    height: 45px !important;

}

.active-card {
    border-radius: 0.25rem;
    border: 1px solid var(--primary-blue);
}


/* main ui size */
#side-panel {
    width: 400px;
}

#map-wrap {
    width: calc(100vw - 400px);
}

/* animations */

.animated-button:hover .icon-1 {
    animation: color-change 1s infinite;
}

.animated-button:hover .icon-2 {
    animation: color-change 1s 0.1s infinite;
}

.animated-button:hover .icon-3 {
    animation: color-change 1s 0.2s infinite;
}

@keyframes color-change {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s !important;
}

.fade-enter,
.fade-leave-to {
    opacity: 0 !important;
}

.slide {
    transition: all 1s ease;
    transform: translateY(50%);
    opacity: 0;
}

.slide.in-viewport {
    transform: translateY(0%);
    opacity: 1;
}

.slide-left {
    transition: all 1s ease;
    transform: translateX(-50%);
    opacity: 0;
}

.slide-left.in-viewport {
    transform: translateX(0%);
    opacity: 1;
}